/******************* RESET CSS *******************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************* END RESET CSS *******************/

html, body {
	background:#3F3F3F;
}

body {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Lucida sans', sans-serif;
	font-size:0.9em;
	width:764px;
	margin:0px auto;
	min-height:400px;
}

h1 {
	font-family:'Trebuchet MS', Geneva, sans-serif;
	font-size:1.3em;
	color:#EBEEF7;
	font-weight:none;
}

pre h1 {
	font-family:'Trebuchet MS', Geneva, sans-serif;
	font-size:2.0em;
	color:#555;
	font-weight:none;
}

p {
	margin-top:15px;
	margin-bottom:15px;
}

pre {
	background:white;
	padding:10px;
	margin-top:15px;
	margin-bottom:15px;
	overflow-x:auto;
	overflow-y:hidden;
}

.main-header {
	background:white;
	padding:8px;
	font-family:monospace;
	margin-bottom:20px;
}

.main-header h1 {
	font-family:'Trebuchet MS', Geneva, sans-serif;
	font-size:2.0em;
	color:#555;
	font-weight:none;
}

code {
	background:white;
	padding:2px;
	font-family:monospace;
}

pre code {
	background:transparent;
	padding:0px;
}

li {
	margin-top:5px;
	margin-bottom:5px;
}

.color {
	color:#999;
}

#header {
	background:#3F3F3F;
	height:100px;
	width:100%;
}

#nav {
	float:left;
	width:100%;
	margin-top:40px;
}

#nav .right {
	float:right;
}

#nav a {
	color:#fff;
	float:right;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	margin-left:20px;
}

#nav h1 a {
	font-family:'Trebuchet MS', Geneva, sans-serif;
	font-size:1.3em;
	color:#EBEEF7;
	font-weight:none;
	float:none;
	text-align:none;
	text-decoration:none;
	font-weight:normal;
	margin-left:0px;
}

#nav a:hover {
	color:#333;
}

#content {
	border:20px #eee solid;
	padding:20px;
	width:684px;
	min-height:400px;
	background:#c7c7c7;
}

.image {
	float:left;
	margin-right:30px;
}

.header {
	background:#3F3F3F;
	font-size:2.0em;
	padding:12px;
	margin-bottom:8px;
}

.header a {
	color:white;
	
}

.header a:hover {
	color:#cdcdcd;
	
}